<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.crm.businessManagement.Repository.BusinessManagementSettingMapper">
	
	<!-- 
	0. 코드값들 증가..;; 
	1. 시술품목(아이템) 등록
	2. 시술디자인(아이템세부) 등록
	3-1. 아이템 리스트 셀렉
	3-2. 아이템디자인 리스트 셀렉
	4-1. 시술품목(아이템) 셀렉
	4-2  시술품목(아이템) 수정
	5-1. 시술디자인(아이템세부) 셀렉
	5-2. 시술디자인(아이템세부) 수정
	 -->
	
	
	<!-- 0. 아이템코드증가 -->
	<select id="getItemCode" resultType="String">
		SELECT 
			ITEM_CD 
		FROM 
			CRM_ITEM_TB
		order by ITEM_REGISTE_DT desc
		LIMIT 0,1
	</select>
	
	<!-- 0. 디자인코드증가 -->
	<select id="getItemDesignCode" resultType="String">
		SELECT 
			ITEMDESIGN_CD 
		FROM 
			CRM_ITEM_DESIGN_TB
		order by ITEMDESIGN_REGISTE_DT desc
		LIMIT 0,1
	</select>
	
	<!-- 1. 시술품목 INSERT -->
	<insert id="insertProcedureItem" parameterType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItem">
		INSERT 
		INTO 
		CRM_ITEM_TB
		(
			ITEM_CD
			,SHOP_CD
			,ITEM_NM
			,ITEM_REGISTE_DT
		)
		VALUES
		(
			#{itemCode}
			,#{shopCode}
			,#{itemName}
			,NOW()
		)
	</insert>
	
	<!-- 2. 시술디자인 INSERT -->
	<insert id="insertProcedureItemDesign" parameterType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		INSERT 
		INTO 
		CRM_ITEM_DESIGN_TB
		(
			ITEMDESIGN_CD
			,SHOP_CD
			,ITEM_CD
			,ITEMDESIGN_NM
			,ITEMDESIGN_WON
			,ITEMDESIGN_REGISTE_DT
		)
		VALUES
		(
			#{itemDesignCode}
			,#{shopCode}
			,#{itemCode}
			,#{itemDesignName}
			,#{itemDesignPrice}
			,NOW()
		)
	</insert>
	
	<!-- 3-1.아이템 SELECT LIST -->
	<select id="selectItemList" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItem">
		SELECT
			ITEM_CD as itemCode
			,ITEM_NM as itemName
		FROM
			CRM_ITEM_TB
		WHERE
			SHOP_CD = #{value}
		ORDER BY 
			ITEM_NM ASC				
	</select>

	<!-- 3-2.아이템디자인 SELECT LIST -->
	<select id="selectItemDesignList" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		SELECT	
			i.item_nm as itemName
			,d.ITEMDESIGN_CD as itemDesignCode
			,d.ITEMDESIGN_NM as itemDesignName
			,d.ITEMDESIGN_WON as itemDesignPrice
		FROM
			CRM_ITEM_TB i INNER JOIN CRM_ITEM_DESIGN_TB d
		ON
			i.item_cd = d.item_cd
		WHERE
			i.SHOP_CD = #{value}				
	</select>
	
	
	<!-- 4-1 시술품목(아이템) SELECT -->
	<select id="selectItem" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItem">
		SELECT	
			ITEM_CD as itemCode
			,ITEM_NM as itemName
		FROM
			CRM_ITEM_TB
		WHERE
			ITEM_CD = #{value}			
	</select>

	<!-- 4-2 시술품목(아이템) UPDATE -->
	<update id="modifyItem" parameterType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItem">
		UPDATE 
			CRM_ITEM_TB
		SET
			ITEM_NM = #{itemName}
		WHERE 
			ITEM_CD = #{itemCode}	
	</update>

	
	<!-- 5-1 시술디자인(아이템세부) SELECT -->
	<select id="selectItemDesign" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		SELECT	
			ITEMDESIGN_CD as itemDesignCode
			,ITEMDESIGN_NM as itemDesignName
			,ITEMDESIGN_WON as itemDesignPrice
		FROM
			CRM_ITEM_DESIGN_TB
		WHERE
			ITEMDESIGN_CD = #{value}				
	</select>
	
	<!-- 5-2 시술디자인(아이템세부) UPDATE -->
	<update id="modifyItemDesign" parameterType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		UPDATE 
			CRM_ITEM_DESIGN_TB
		SET
			ITEMDESIGN_NM = #{itemDesignName}
			,ITEMDESIGN_WON = #{itemDesignPrice}
		WHERE 
			ITEMDESIGN_CD = #{itemDesignCode}	
	</update>
</mapper>