<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.crm.businessManagement.Repository.ProcedureMapper">
	
	
	<select id="getCustomerList" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.CustomerManagement.Model.CrmCustomer">
		SELECT 
			CUSTOMER_CD as customerCode
			,USER_CD as userCode
			,CUSTOMER_NM as customerName
			,CUSTOMER_CELLPHONE_NO as customerCellphoneNumber
			,EMPLOYEE_CD as employeeCode
			,EMPLOYEE_NM as employeeName
		FROM 
			CRM_CUSTOMER_TB 
		WHERE SHOP_CD=#{value}
		ORDER BY 
			CUSTOMER_JOIN_DT DESC
	</select>
	
	
	
	<!-- 넘어온 시술에 대한 세부디자인 리스트 -->
	<select id="selectItemDesignList" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		SELECT	
			i.ITEM_NM as itemName
			,d.ITEMDESIGN_CD as itemDesignCode
			,d.ITEMDESIGN_NM as itemDesignName
			,d.ITEMDESIGN_WON as itemDesignPrice
		FROM
			CRM_ITEM_TB i INNER JOIN CRM_ITEM_DESIGN_TB d
		ON
			i.ITEM_CD = d.ITEM_CD
		WHERE
			i.ITEM_CD = #{value}	
	</select>
	
	<!-- 아이템디자인 셀렉 -->
	<select id="selectItemDesign" parameterType="java.lang.String" resultType="com.cafe24.phoenixooo.crm.businessManagement.Model.ProcedureItemDesign">
		SELECT	
			ITEMDESIGN_CD as itemDesignCode
			,ITEMDESIGN_NM as itemDesignName
			,ITEMDESIGN_WON as itemDesignPrice
		FROM
			CRM_ITEM_DESIGN_TB
		WHERE
			ITEM_CD = #{value}	
	</select>	
	
	<!-- 시술등록 -->
	<insert id="insertProcedurePayment" parameterType="com.cafe24.phoenixooo.crm.businessManagement.Model.RequestProcedurePayment">
		<selectKey resultType="hashmap" keyProperty="paymentCode" order="BEFORE">
			select if(isnull(PAYMENT_CD),'CRM_PAYMENT_1',concat('CRM_PAYMENT_',MAX(CONVERT(SUBSTRING(PAYMENT_CD,13),UNSIGNED))+1)) as paymentCode from CRM_PAYMENT_TB
		</selectKey>
			INSERT
			INTO
				CRM_PAYMENT_TB
			(
				PAYMENT_CD
				,SHOP_CD
				,EMPLOYEE_CD
				,CUSTOMER_CD
				,ITEMDESIGN_CD
				,CUSTOMER_NM
				,EMPLOYEE_NM
				,ITEMDESIGN_NM
				,PAYMENT_TYPE_GB
				,PAYMENT_TOTAL_WON
				,PAYMENT_DT
				,PAYMENT_MEMO
			)
			VALUES
			(
				#{paymentCode}
				,(SELECT SHOP_CD FROM CRM_ITEM_TB WHERE ITEM_CD = #{itemCode})
				,#{employeeCode}
				,#{customerCode}
				,#{itemDesignCode}
				,(SELECT CUSTOMER_NM FROM CRM_CUSTOMER_TB WHERE CUSTOMER_CD = #{customerCode})
				,(SELECT EMPLOYEE_NM FROM CRM_EMPLOYEE_TB WHERE EMPLOYEE_CD = #{employeeCode})
				,(SELECT ITEMDESIGN_NM FROM CRM_ITEM_DESIGN_TB WHERE ITEMDESIGN_CD = #{itemDesignCode})
				,(SELECT PAYMENT_TYPE_GB FROM CRM_PAYMENT_TYPE_TB WHERE PAYMENT_TYPE_CD = #{paymentTypeCode})
				,#{paymentTotalPrice}
				,#{paymentDate}
				,#{paymentMemo}
			)
	</insert>
	
</mapper>