<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.crm.salesManagement.Repository.EmployeeSalesMapper">

<!-- 
	1. 직원리스트
	2. 직원매출검색 
-->

	<!-- 1. 직원리스트 -->
	<select id="selectEmployeeList" parameterType="com.cafe24.phoenixooo.crm.salesManagement.Model.EmployeeListForSales" resultType="com.cafe24.phoenixooo.crm.salesManagement.Model.EmployeeListForSales">
		SELECT	
			EMPLOYEE_CD as employeeCode 
			,EMPLOYEE_NM as employeeName 
		FROM
			CRM_EMPLOYEE_TB
		WHERE SHOP_CD = 'CRM_SHOP_1'
	</select>
	
	<!-- 2. 직원매출검색 -->
<!-- 	<select id="selectEmpSales"> -->
<!-- 		SELECT  -->
<!-- 			SUM(PAYMENT_TOTAL_WON),EMPLOYEE_NM  -->
<!-- 		FROM  -->
<!-- 			CRM_PAYMENT_TB  -->
<!-- 		WHERE  -->
<!-- 			EMPLOYEE_NM='라인하르트'  -->
<!-- 		AND  -->
<!-- 			PAYMENT_TYPE_GB='현금'  -->
<!-- 		AND  -->
<!-- 			PAYMENT_DT BETWEEN '2016-07-01' AND '2016-08-30' -->
<!-- 	</select> -->
	
</mapper>