<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.crm.stockManagement.Repository.StockManagementSettingMapper">

	<!-- 거래처 등록 -->
	<insert id="insertAccount" parameterType="com.cafe24.phoenixooo.crm.stockManagement.Model.Account">
		<selectKey resultType="hashmap" keyProperty="accountCode" order="BEFORE">
			select if(isnull(ACCOUNT_CD),'CRM_ACCOUNT_1', concat('CRM_ACCOUNT_', MAX(CONVERT(SUBSTRING(ACCOUNT_CD,13), UNSIGNED))+1))
			as accountCode
			from CRM_ACCOUNT_TB
		</selectKey>
		INSERT INTO 
			CRM_ACCOUNT_TB
			(
				ACCOUNT_CD
				, SHOP_CD
				, ACCOUNT_NM
				, CHARGER_NM
				, CHARGER_CELLPHONE_NO
				, CHARGER_PHONE_NO
				, CHARGER_FAX_NO
				, CHARGER_MEMO
			)
		VALUES 
			(
				#{accountCode}
				, #{shopCode}
				, #{accountName}
				, #{chargerName}
				, #{cellPhoneNumber}
				, #{phoneNumber}
				, #{faxNumber}
				, #{chargerMemo}
			)		
	</insert>
	
	<!-- 제품 등록 -->
	<insert id="insertGoods" parameterType="com.cafe24.phoenixooo.crm.stockManagement.Model.Goods">
	 	<selectKey resultType="hashmap" keyProperty="goodsCode" order="BEFORE">
			select if(isnull(GOODS_CD),'CRM_GOODS_1', concat('CRM_GOODS_', MAX(CONVERT(SUBSTRING(GOODS_CD,11), UNSIGNED))+1))as goodsCode from CRM_GOODS_TB
		</selectKey>
		INSERT INTO 
			CRM_GOODS_TB
				(
					GOODS_CD
					,SHOP_CD
					,EMPLOYEE_CD
					,ACCOUNT_CD
					,GOODS_NM
					,BUYING_GOODS_UNIT_WON
					,SALE_GOODS_UNIT_WON
					,GOODS_MEMO
				)
		VALUES
				(
					#{goodsCode}
					,#{shopCode}
					,#{employeeCode}
					,#{accountCode}
					,#{goodsName}
					,#{butingGoodsUnitWon}
					,#{saleGoodsUnitWon}
					,#{goodsMemo}
				)
				
	</insert>
	
	<!-- 미용용품설정 내역 가져오기  -->
	<select id="selectGoodsSetting" parameterType="com.cafe24.phoenixooo.crm.stockManagement.Model.Goods" resultType="com.cafe24.phoenixooo.crm.stockManagement.Model.Goods">
		SELECT 
			CRM_ACCOUNT_TB.ACCOUNT_NM as accountName
			,CRM_GOODS_TB.GOODS_NM as goodsName
		 	,CRM_GOODS_TB.BUYING_GOODS_UNIT_WON as buyingGoodsUnitWon
		 	,CRM_GOODS_TB.SALE_GOODS_UNIT_WON as saleGoodsUnitWon
		FROM
			CRM_GOODS_TB
		INNER JOIN
			CRM_ACCOUNT_TB
		ON
			CRM_ACCOUNT_TB.ACCOUNT_CD=CRM_GOODS_TB.ACCOUNT_CD;
	</select>
	
	<!-- 거래처설정 내역 가져오기  -->
	<select id="selectStockManagementSetting" parameterType="com.cafe24.phoenixooo.crm.stockManagement.Model.Account" resultType="com.cafe24.phoenixooo.crm.stockManagement.Model.Account">
		SELECT
			ACCOUNT_NM as accountName
			,CHARGER_NM as chargerName
			,CHARGER_PHONE_NO as phoneNumber
			,CHARGER_MEMO as chargerMemo
		FROM
			CRM_ACCOUNT_TB as account
	</select>
	
</mapper>