<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.crm.employeeManagement.Repository.EmployeeSalaryMapper">

	<!-- 
		1. 급여지급 등록
		2. 전체 컬럼수 구하기
		3. 급여지급 리스트
		4. 급여지급 삭제
	 -->

	<!-- 1. 급여지급 등록 -->
	<insert id="insertEmployeeSalary" parameterType="com.cafe24.phoenixooo.crm.employeeManagement.Model.EmployeeSalary">
		<!-- Auto_increment -->
		<selectKey resultType="hashmap" keyProperty="salaryCode" order="BEFORE">
			select if(isnull(SALARY_CD),'CRM_SALARY_1',concat('CRM_SALARY_',MAX(CONVERT(SUBSTRING(SALARY_CD,12),UNSIGNED))+1)) as salaryCode from CRM_SALARY_TB
		</selectKey>
		INSERT INTO
			CRM_SALARY_TB
		(
			SALARY_CD
			,SHOP_CD
			,EMPLOYEE_CD
			,SALARY_PAY_DT
			,SALARY_MONTH_DT
			,EMPLOYEE_NM
			,SALARY_WON
		)
		VALUES
		(
			#{salaryCode}
			<!-- ,#{shopCode} -->
			,'CRM_SHOP_3'
			<!-- ,#{employeeCode} -->
			,'CRM_EMPLOYEE_1'
			,NOW()
			,#{salaryMonthDate}
			,#{employeeName}
			,#{salaryWon}
		)
	</insert>

	<!-- 2. 전체 컬럼수 구하기 -->
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*) FROM CRM_SALARY_TB
	</select>
	
	<!-- 3. 급여지급 리스트 -->
	<select id="selectEmployeeSalaryList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.crm.employeeManagement.Model.EmployeeSalary">
		SELECT	
			SALARY_CD as salaryCode
			,SHOP_CD as shopCode
			,EMPLOYEE_CD as employeeCode
			,SALARY_PAY_DT as salaryPayDate
			,SALARY_MONTH_DT as salaryMonthDate
			,EMPLOYEE_NM as employeeName
			,SALARY_WON as salaryWon
		FROM
			CRM_SALARY_TB
		<!-- 검색을 위한 where문. word가 null이면 넘어간다. -->
		<where>
			<if test="word != null">
				EMPLOYEE_NM like CONCAT('%',#{word},'%')
			</if>
		</where>
		LIMIT #{pageHelper.startRow}, #{pageHelper.linePerPage}
	</select>

	<!-- 4. 급여지급 삭제 -->
	<delete id="deleteEmployeeSalary" parameterType="com.cafe24.phoenixooo.crm.employeeManagement.Model.EmployeeSalary">
		DELETE FROM
			CRM_SALARY_TB
		WHERE
			SALARY_CD=#{salaryCode}
	</delete>
</mapper>