<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.community.Repository.BoardMapper">

	
	<select id="selectArticleList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			articleTable.ARTICLE_CD as articleCode
			,userTable.USER_NICK_NM as userNickName
			,articleTable.ARTICLE_NM as articleName
			,articleTable.ARTICLE_CTT as articleContent
			,articleTable.ARTICLE_DT as articleDate
		FROM
			COM_ARTICLE_TB as articleTable
		INNER JOIN
			COM_USER_TB as userTable
		ON
			articleTable.USER_CD=userTable.USER_CD
		WHERE
			articleTable.BOARDGROUP_CD=#{boardGroupCode}
		ORDER BY ARTICLE_CD DESC
		LIMIT 0, 20
	</select>
	
<!-- 	<select id="selectUserNickName" >
		SELECT
			USER_NICK_NM from COM_USER_TB where USER_CD=
	</select> -->
	
	<!-- 먼저 글 1개 가져오는 쿼리 -->
	<select id="selectArticle" parameterType="String" resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			ARTICLE_CD as articleCode
			,USER_CD as userCode
			,BOARDGROUP_CD as boardGroupCode
			,ARTICLE_NM as articleName
			,ARTICLE_CTT as articleContent
			,ARTICLE_DT as articleDate
			,ARTICLE_IP as articleIp
		FROM
			COM_ARTICLE_TB
		WHERE
			ARTICLE_CD = #{articleCode}
	</select>
	
	
	<!-- <insert id="insertArticle1" parameterType="com.cafe24.phoenixooo.community.Model.Article">	
		INSERT INTO 
			COM_ARTICLE_TB
			(
				ARTICLE_CD
				,USER_CD
				,BOARDGROUP_CD
				,ARTICLE_NM
				,ARTICLE_CTT
				,ARTICLE_DT
				,ARTICLE_IP
			)
		VALUES 
			(
				'COM_ARTICLE_6'
				, 'COM_USER_3'
				, 'COM_BOARDGROUP_3'
				, #{articleName}
				, #{articleContent}
				, NOW()
				, '테스트때문에'
			)
		
	</insert> -->
	
	
	<!-- 게시글 입력 / 파일 업로드 -->
	<insert id="insertArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">
		<selectKey resultType="hashmap" keyProperty="articleCode" order="BEFORE">
			select if(isnull(ARTICLE_CD),'COM_ARTICLE_1', concat('COM_ARTICLE_', MAX(CONVERT(SUBSTRING(ARTICLE_CD,13), UNSIGNED))+1))
			as articleCode
			from COM_ARTICLE_TB
		</selectKey>	
			INSERT INTO 
			COM_ARTICLE_TB
			(
				ARTICLE_CD
				,USER_CD
				,BOARDGROUP_CD
				,ARTICLE_NM
				,ARTICLE_CTT
				,ARTICLE_DT
				,ARTICLE_IP
			)
		VALUES 
			(
				#{articleCode}
				, 'COM_USER_4'
				, 'COM_BOARDGROUP_3'
				, #{articleName}
				, #{articleContent}
				, NOW()
				, '안되는건가?'
			)
	<!-- 	<selectKey resultType="String" keyProperty="articleCode" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey> -->
	</insert>
	
	<!-- 파일정보 등록 -->
	<insert id="subAddImgFile"	parameterType="com.cafe24.phoenixooo.community.Model.ImgFile">
		<selectKey resultType="hashmap" keyProperty="fileCode" order="BEFORE">
			select if(isnull(FILE_CD),'COM_FILE_1', concat('COM_FILE_', MAX(CONVERT(SUBSTRING(FILE_CD,10), UNSIGNED))+1))
			as fileCode
			from COM_FILE_TB
		</selectKey>
		INSERT INTO COM_FILE_TB
		(
			FILE_CD
			,ARTICLE_CD
			,FILE_PATH
			,FILE_NAME
			,RANDOM_NAME
		)
		VALUES
		(
			#{fileCode}
			,#{articleCode}
			,#{filePath}
			,#{fileName}
			,#{randomName}
		)
		
	</insert>
	
	
	
	
	
	<update id="updateArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">
		UPDATE 
			COM_ARTICLE_TB
		SET
			ARTICLE_NM = #{articleName},
			ARTICLE_CTT = #{articleContent}
		WHERE 
			ARTICLE_CD = #{articleCode}
	</update>
	
	<delete id="deleteArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">	
		DELETE FROM 
			COM_ARTICLE_TB 
		WHERE 
			ARTICLE_CD = #{articleCode}	
	
	</delete>
	
	<insert id="insertComment" parameterType="com.cafe24.phoenixooo.community.Model.Comment">
		<selectKey resultType="hashmap" keyProperty="commentCode" order="BEFORE">
			select if(isnull(COMMENT_CD),'COM_COMMENT_1', concat('COM_COMMENT_', MAX(CONVERT(SUBSTRING(COMMENT_CD,13), UNSIGNED))+1))
			as commentCode
			from COM_COMMENT_TB
		</selectKey>
		INSERT INTO 
			COM_COMMENT_TB
			(
				COMMENT_CD
				, ARTICLE_CD
				, USER_CD
				, COMMENT_CTT
				, COMMENT_DT
				, COMMENT_IP
			)
		VALUES 
			(
				#{commentCode}
				, #{articleCode}
				, 'COM_USER_123'
				, #{commentContent}
				, NOW()
				, '123.456.789.456'
			)
	</insert>
	
	<select id="selectCommentList" parameterType="java.util.Map"  resultType="com.cafe24.phoenixooo.community.Model.Comment">
		select
			COMMENT_CD as commentCode
			,ARTICLE_CD as articleCode
			,USER_CD as userCode
			,COMMENT_CTT as commentContent
			,COMMENT_DT as commentDate
			,COMMENT_IP as commentIp
		from
			COM_COMMENT_TB
			
		where 
			ARTICLE_CD=#{articleCode}
		ORDER BY 
			COMMENT_DT DESC
	</select>
	
	<delete id="deleteComment" parameterType="com.cafe24.phoenixooo.community.Model.Comment">
		DELETE FROM 
			COM_COMMENT_TB 
		WHERE 
			COMMENT_CD=#{commentCode}
	</delete>
	
	
	<!-- 랜덤네임이 존재하는지 여부를확인 (중복되지 않은것만 저장해야함) -->
	<select id="selectImgFileByRandomName" parameterType="String" resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			ARTICLE_CD as articleCode
			,FILE_NAME as fileName
		FROM
			COM_FILE_TB
		WHERE
			RANDOM_NAME = #{randomName}
	
	</select>
	
	
	
	
	<select id="selectImgFileName" parameterType="String" resultType="com.cafe24.phoenixooo.community.Model.ImgFile">
		SELECT
			
			File_CD as fileCode
			,ARTICLE_CD as articleCode
			,FILE_PATH as filePath
			,FILE_NAME as fileName
			,RANDOM_NAME as randomName
		FROM
			COM_FILE_TB
		WHERE
			ARTICLE_CD = #{articleCode}
	</select>
		
</mapper>