<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.community.Repository.BoardMapper">

	
	<select id="selectArticleList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			ARTICLE_CD as articleCode
			,ARTICLE_NM as articleName
			,ARTICLE_CTT as articleContent
		FROM
			COM_ARTICLE_TB
		WHERE
			BOARDGROUP_CD=#{boardGroupCode}
		ORDER BY ARTICLE_CD ASC
		LIMIT 0, 3
	</select>
	
	<select id="selectArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article" resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			ARTICLE_CD as articleCode
			,USER_CD as userCode
			,BOARDGROUP_CD as boardGroupCode
			,ARTICLE_NM as articleName
			,ARTICLE_CTT as articleContent
			,ARTICLE_DT as articleDate
			,ARTICLE_IP as articleIp
		FROM
			COM_ARTICLE_TB
		WHERE
			ARTICLE_CD=#{articleCode}
	</select>
	
	<insert id="insertArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">	
		INSERT INTO 
			COM_ARTICLE_TB
			(
				ARTICLE_CD
				,USER_CD
				,BOARDGROUP_CD
				,ARTICLE_NM
				,ARTICLE_CTT
				,ARTICLE_DT
				,ARTICLE_IP
			)
		VALUES 
			(
				'COM_ARTICLE_6'
				, 'COM_USER_3'
				, 'COM_BOARDGROUP_3'
				, #{articleName}
				, #{articleContent}
				, NOW()
				, '테스트때문에'
			)
			
		<selectKey resultType="String" keyProperty="articleCode" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
	</insert>
	
	<update id="updateArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">
		UPDATE 
			COM_ARTICLE_TB
		SET
			ARTICLE_NM = #{articleName},
			ARTICLE_CTT = #{articleContent}
		WHERE 
			ARTICLE_CD = #{articleCode}
	</update>
	
	<delete id="deleteArticle" parameterType="com.cafe24.phoenixooo.community.Model.Article">	
		DELETE FROM 
			COM_ARTICLE_TB 
		WHERE 
			ARTICLE_CD = #{articleCode}	
	
	</delete>
	
	<insert id="insertComment" parameterType="com.cafe24.phoenixooo.community.Model.Comment">
		INSERT INTO 
			COM_COMMENT_TB
			(
				COMMENT_CD
				, ARTICLE_CD
				, USER_CD
				, COMMENT_CTT
				, COMMENT_DT
				, COMMENT_IP
			)
		VALUES 
			(
				'COM_COMMENT_7'
				, #{articleCode}
				, 'COM_USER_123'
				, #{commentContent}
				, NOW()
				, '123.456.789.456'
			)
	</insert>
	
	<select id="selectCommentList" parameterType="java.util.Map"  resultType="com.cafe24.phoenixooo.community.Model.Comment">
		select
			COMMENT_CD as commentCode
			,ARTICLE_CD as articleCode
			,USER_CD as userCode
			,COMMENT_CTT as commentContent
			,COMMENT_DT as commentDate
			,COMMENT_IP as commentIp
		from
			COM_COMMENT_TB
			
		where 
			ARTICLE_CD=#{articleCode}
		ORDER BY 
			COMMENT_CD ASC
	</select>
	
	<delete id="deleteComment" parameterType="com.cafe24.phoenixooo.community.Model.Comment">
		DELETE FROM 
			COM_COMMENT_TB 
		WHERE 
			COMMENT_CD=#{commentCode}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>