<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.community.Repository.SwMapper">

	<select id="selectSw" resultType="com.cafe24.phoenixooo.community.Model.Test">
		SELECT SW_CD as a FROM COM_SW_TB
	</select>

	<!-- sw 상품 리스트 가져오기 -->
	<select id="selectSwList" resultType="com.cafe24.phoenixooo.community.Model.Sw">
		select
			 SW_CD as swCode
			 ,SW_NM as swName
			 ,SW_WON as swWon
			 ,SW_TERM as swTerm
		 from
		 	COM_SW_TB
	</select>
	
	
	

 	<select id="selectOrderList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Order">
		select
			SW_ORDER_CD as swOrderCode
			,RECEIVE_USER_CD as receiveUserCode
			,ORDER_USER_CD as orderUserCode
			,SHOP_CD as shopCode
			,SW_CD as swCode
			,ORDER_DT as orderDate
		 from
		 	COM_ORDER_TB
		 where
		 	ORDER_USER_CD=#{userCode}
	</select>

	<select id="selectPaymentList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Payment">
		select
			 PAYMENT_CD as paymentCode
			 ,ORDER_CD as orderCode
			 ,USER_CD as userCode
			 ,SHOP_CD as shopCode
			 ,SW_CD as swCode
			 ,SW_WON as swWon
			 ,SW_PAYMENT_OPTION_NM as swPaymentOptionName
			 ,SW_PAYMENT_DT as swPaymentDate
			 ,SW_STARTING_SERVICE_DT as swStartingServiceDate
			 ,SW_ENDING_SERVICE_DT as swEndingServiceDate
			 ,SW_SERVICE_ST swServiceStatus
		 from
		 	COM_PAYMENT_TB
		 where
		 	USER_CD=#{userCode}
	</select>
	
	<!-- 환불신청하기 -->
	
	<insert id="insertRequestingRepayment" parameterType="com.cafe24.phoenixooo.community.Model.OrderListCommand">
		
	
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>