<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.community.Repository.SwMapper">

	<select id="selectSw" resultType="com.cafe24.phoenixooo.community.Model.Test">
		SELECT SW_CD as a FROM COM_SW_TB
	</select>

	<!-- sw 상품 리스트 가져오기 -->
	<select id="selectSwList" resultType="com.cafe24.phoenixooo.community.Model.Sw">
		select
			 SW_CD as swCode
			 ,SW_NM as swName
			 ,SW_WON as swWon
			 ,SW_TERM as swTerm
		 from
		 	COM_SW_TB
	</select>
	
	
	

 	<select id="selectOrderList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Order">
		select
			SW_ORDER_CD as swOrderCode
			,RECEIVE_USER_CD as receiveUserCode
			,ORDER_USER_CD as orderUserCode
			,SHOP_CD as shopCode
			,SW_CD as swCode
			,ORDER_DT as orderDate
		 from
		 	COM_ORDER_TB
		 where
		 	ORDER_USER_CD=#{userCode}
	</select>

	<select id="selectPaymentList" parameterType="java.util.Map" resultType="com.cafe24.phoenixooo.community.Model.Payment">
		select
			 PAYMENT_CD as paymentCode
			 ,ORDER_CD as orderCode
			 ,USER_CD as userCode
			 ,SHOP_CD as shopCode
			 ,SW_CD as swCode
			 ,SW_WON as swWon
			 ,SW_PAYMENT_OPTION_NM as swPaymentOptionName
			 ,SW_PAYMENT_DT as swPaymentDate
			 ,SW_STARTING_SERVICE_DT as swStartingServiceDate
			 ,SW_ENDING_SERVICE_DT as swEndingServiceDate
			 ,SW_SERVICE_ST swServiceStatus
		 from
		 	COM_PAYMENT_TB
		 where
		 	USER_CD=#{userCode}
	</select>
	
	<!-- 환불신청하기 -->
	<insert id="insertRequestingRepayment" parameterType="com.cafe24.phoenixooo.community.Model.RepaymentRequestCommand">
		<selectKey resultType="hashmap" keyProperty="repaymentRequestCode" order="BEFORE">
			select 
				if(isnull(REPAYMENT_REQUEST_CD)
				,'COM_REPAYMENT_REQUEST_1'
				, concat('COM_REPAYMENT_REQUEST_', MAX(CONVERT(SUBSTRING(REPAYMENT_REQUEST_CD,23), UNSIGNED))+1)) as repaymentRequestCode
			from 
				COM_REPAYMENT_REQUEST_TB
		</selectKey>
		INSERT INTO 
			COM_REPAYMENT_REQUEST_TB
			(
			REPAYMENT_REQUEST_CD
			, PAYMENT_CD
			, USER_SYSTEM_CD
			, USER_CD
			, SHOP_CD
			, SW_CD
			, REPAYMENT_REQUEST_WON
			, REPAYMENT_REQUEST_DT
			, REPAYMENT_PERMISSION_DT
			,REPAYMENT_BANK_NM
			,REPAYMENT_ACCOUNT_NO
			)
		VALUES 
			(
			#{repaymentRequestCode}
			, #{paymentCode}
			, 'COM_USER_1'
			, #{userCode}
			, #{shopCode}
			, #{swCode}
			, 20000
			, NOW()
			, NULL
			,#{bankName}
			,#{accountNumber}
			)		
	</insert>
	
	
	<!-- 환신청을 위한 서브 쿼리  (paymentCode, userCode, shopCode, swCode, swWon)-->
	<select id="selectPartOfRePaymentRequest" parameterType="com.cafe24.phoenixooo.community.Model.Payment" resultType="com.cafe24.phoenixooo.community.Model.Payment">
	
		SELECT 
			PAYMENT_CD as paymentCode
			,USER_CD as userCode
			,SHOP_CD as shopCode
			,SW_CD as swCode
			,SW_WON as swWon
		FROM
			COM_PAYMENT_TB
		WHERE 
			ORDER_CD = #{orderCode}

	</select>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>