<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.phoenixooo.community.Repository.TotalSearchMapper">

	<!-- 1.게시판 셀렉 2.유저(미용실) 셀렉 3.유저(디자이너) 셀렉 -->

	<!-- #{boardGroupCode} 분기됨. -->

	<select id="selectArticleList" parameterType="java.util.Map"
		resultType="com.cafe24.phoenixooo.community.Model.Article">
		SELECT
			a.ARTICLE_CD as articleCode
			,a.ARTICLE_NM as articleName
			,a.USER_CD as userCode
			,u.USER_NICK_NM as userNickName
			,a.ARTICLE_DT as articleDate
		FROM
		COM_ARTICLE_TB as a
		INNER JOIN
			COM_USER_TB as u
		ON
			a.USER_CD=u.USER_CD
		WHERE
			BOARDGROUP_CD = #{boardGroupCode}
		AND
			ARTICLE_NM LIKE CONCAT('%',#{word},'%')
		ORDER BY
			ARTICLE_CD ASC
		LIMIT 
			0, #{searchResultLimitNumber}
	</select>

	<!-- 2. 미용실 셀렉 -->
	<select id="selectUserDirectorList" parameterType="java.util.Map"
		resultType="com.cafe24.phoenixooo.community.Model.UserDirector">
		SELECT
			USER_CD as userCode
			,SHOP_CD as shopCode
			,SHOP_NM as shopName
			,SHOP_ADDR as shopAddress
		FROM
			CRM_SHOP_TB
		WHERE
			SHOP_NM LIKE CONCAT('%',#{word},'%')
		ORDER BY
			SHOP_NM ASC
		LIMIT 
			0, #{searchResultLimitNumber}
	</select>

	<!-- 2. 디자이너 셀렉 -->
	<select id="selectUserDesignerList" parameterType="java.util.Map"
		resultType="com.cafe24.phoenixooo.community.Model.UserDesigner">
		SELECT
			u.USER_CD as userCode
			,u.USER_SHOP_CD as shopCode
			,u.USER_NM as userName
			,s.SHOP_NM as shopName
		FROM
			COM_USER_TB u INNER JOIN CRM_SHOP_TB s
		ON
			u.USER_SHOP_CD = s.SHOP_CD
		WHERE
			USER_NM LIKE CONCAT('%',#{word},'%')
		ORDER BY
			USER_NM ASC
		LIMIT 
			0, #{searchResultLimitNumber}
	</select>
</mapper>